# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Terraform state
*.tfstate
*.tfstate.*


# Ignore editor swap files
*.swp


# Ignore virtual environment
venv/


# SSH keys
github-actions-key
github-actions-key.pub
